/* Header.css */

#x1
{
    background:whitesmoke;
    width: 210%;
    margin-left: -85%;
    margin-bottom: 3%;
    
}
:link{
    margin-left: 140%;
    margin-bottom: 0.1%;
   
}
#x2{
    margin-left: -52%;
    padding-top: 1%;
    
}