.vh-100 {
  min-height: 100vh;
}

.container-fluid {
  height: 100%;
}

.row {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-outline {
  margin-bottom: 20px;
}

.form-outline input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
img{
  width: 25%;
}

/* #loginbutton{
  margin-left: 34%;
} */